name: "debug build"
on:
    push:
        branches:
            - "3.0"

env:
    # リポジトリのルートディレクトリを基点としたslnのfilepath
    SOLUTION_FILE_PATH: project/SxavengerEngine.sln
    # Visual Sudio の構成(Debug || Release)
    CONFIGURATION: Debug

jobs:
    build:
        runs-on: windows-2022

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Add MSBuild to PATH
              uses: microsoft/setup-msbuild@v2
              with:
                msbuild_architecture: x64

            - name: Build
              run: msbuild ${{env.SOLUTION_FILE_PATH}} /p:Platform=x64,Configuration=${{env.CONFIGURATION}}
